@use 'scrollbar';
@use 'form.scss';
@use 'tooltip';


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: url(imgs/landscape-vector.jpg) center cover no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}